<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dsci.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <dsci.Properties.Settings>
            <setting name="DsRegistryKey" serializeAs="String">
                <value>HKEY_CURRENT_USER\Software\DAZ\Studio4</value>
            </setting>
            <setting name="DsContentDirValuePrefix" serializeAs="String">
                <value>ContentDir</value>
            </setting>
            <setting name="DsContentDirMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TopDirectory_0" serializeAs="String">
                <value>aniBlocks</value>
            </setting>
            <setting name="TopDirectory_1" serializeAs="String">
                <value>Animals</value>
            </setting>
            <setting name="TopDirectory_2" serializeAs="String">
                <value>Camera Presets</value>
            </setting>
            <setting name="TopDirectory_3" serializeAs="String">
                <value>Environments</value>
            </setting>
            <setting name="TopDirectory_4" serializeAs="String">
                <value>General</value>
            </setting>
            <setting name="TopDirectory_5" serializeAs="String">
                <value>Light Presets</value>
            </setting>
            <setting name="TopDirectory_6" serializeAs="String">
                <value>Lights</value>
            </setting>
            <setting name="TopDirectory_7" serializeAs="String">
                <value>People</value>
            </setting>
            <setting name="TopDirectory_8" serializeAs="String">
                <value>Render Presets</value>
            </setting>
            <setting name="TopDirectory_10" serializeAs="String">
                <value>Presets</value>
            </setting>
            <setting name="TopDirectory_11" serializeAs="String">
                <value>Runtime</value>
            </setting>
            <setting name="TopDirectory_12" serializeAs="String">
                <value>Scene Builder</value>
            </setting>
            <setting name="TopDirectory_13" serializeAs="String">
                <value>Scenes</value>
            </setting>
            <setting name="TopDirectory_14" serializeAs="String">
                <value>Scripts</value>
            </setting>
            <setting name="TopDirectory_15" serializeAs="String">
                <value>Shader Presets</value>
            </setting>
            <setting name="TopDirectory_16" serializeAs="String">
                <value>data</value>
            </setting>
            <setting name="TopDirectory_9" serializeAs="String">
                <value>Props</value>
            </setting>
            <setting name="ParentDirectory_0" serializeAs="String">
                <value>My DAZ 3D Library</value>
            </setting>
            <setting name="ParentDirectory_1" serializeAs="String">
                <value>My Library</value>
            </setting>
            <setting name="ParentDirectory_2" serializeAs="String">
                <value>Content</value>
            </setting>
            <setting name="OtherFilesDirectory" serializeAs="String">
                <value>ReadMe's</value>
            </setting>
            <setting name="Ignorable_0" serializeAs="String">
                <value>__MACOSX</value>
            </setting>
            <setting name="Ignorable_1" serializeAs="String">
                <value>.DS_Store</value>
            </setting>
            <setting name="Ignorable_2" serializeAs="String">
                <value>._.DS_Store</value>
            </setting>
            <setting name="OtherFilesAliasRE" serializeAs="String">
                <value>^(Documents?|Documentations?|ReadMes?|.*[ _!-]ReadMe'?s?)(?=[/\\])</value>
            </setting>
        </dsci.Properties.Settings>
    </applicationSettings>
</configuration>
