<# /* This T4 template creates Confirm.cs from Confirm.resx. */ #>

<#@ include file="ResXEnumGenerator.t4" #>

namespace dsci
{
	public enum Confirm
	{
<#
		PushIndent("        ");
		EnumLabels();
		PopIndent();
#>
	}
}